.vp-button {
    border-style:none;
    cursor:pointer;
    color:white;
    background-color:black;
    }
.vp-button_volume{
    margin-left: 10px;
    margin-top: 8px;
    font-size: 125%;
    height: 30px;
    width: 30px;
    }
.vp-button_video{padding-right: 5px;
    padding-left: 10px;
    font-size: 125%;
    width: 30px;
    height: 45px;}
.vp-button_full_screen{
    padding-left: 0px;
    font-size: 125%;
    width: 30px;
    height: 45px;}

.vp-viewing-panel{display: flex; flex-wrap: wrap; background-color:black;}


.vp-viewing-panel .vp-viewing-time {
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    margin-left: 3px;
    margin-top: 12px;
    color:white;
    }
.vp-viewing-panel .vp_duration {
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    margin-right: 8px;
    margin-top: 13px;
    color:white;}
.vp-viewing-panel .progress{
    display: flex;
    flex-grow: 2;
    background-color: grey;}




.vp-control{display: flex; flex-wrap: wrap; background-color:black;}
.vp-control > div {flex-grow: 1}

.js-video-container{flex-grow: 1;}
.vp-player{display: flex;
     flex-direction: column;
     flex-grow: 1;
     width: 800px;
     height: 600px;
     box-shadow: 0 0 25px rgba(0,0,0,9);
     }